@import '../../styles/variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: define global theming (fonts, colors, grid helpers, prose). */

@layer base {
	body {
		margin: 0;
		min-height: 100vh;
		background: #000;
		color: #fff;
	}
}
:root {
	--font-sofia: 'Sofia Pro', sans-serif;
}

* {
	font-family: var(--font-sofia);
}
